{% extends 'base.html.twig' %}

{% block title %}rechercher un produit !{% endblock %}

{% block body %}


    {% if not produits is defined %}
        <p> aucun produit </p>
    {% else %}
        {% for produit in produits %}
            <p> {{ produit.name}} </p>
            <p> {{ produit.description}} </p>
        {% endfor %}
    {% endif %}
{% endblock %}
